body{
    background-image: url(istockphoto-1251629816-612x612.jpg);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}